---
layout: default
title: Projects
---

<h1 class="page-header">List of Projects</h1>
{% for project in site.data.projects %}
  {% for article in site.articles | where: "blog", false %}
    {% if article.url contains project.article %}
      {% assign articleCat = article.category %}
      {% assign articleTag = article.tag %}
    {% endif %}
  {% endfor %}
  <div class="col-sm-6 col-md-4">
   <div class="thumbnail">
     <img style="width: 360; height: 200;" src="{{ "{{ site.url }}/assets/images/projects/{{ project.name }}/{{ project.image }}" | relative_url }}" alt="{{ project.name }}">
     <div class="caption">
       <h3><a target="_blank" href="{{ project.url }}">{{ project.name }}</a></h3>
       <p>{{ project.summary }}</p>
       <p>
         &nbsp;<span class="glyphicon glyphicon-book"></span>
         {% for valcategory in articleCat %}
           <span class="label label-primary">&nbsp;{{ valcategory | escape }}</span>
         {% endfor %}
         &nbsp;<span class="glyphicon glyphicon-tags"></span>
         {% for valtag in articleTag %}
           <span class="label label-info">&nbsp;{{ valtag | escape }}</span>
         {% endfor %}
       </p>
       <p><a href="{{ site.url }}/articles/{{ project.article }}/" class="btn btn-default" role="button">Check article for details</a></p>
     </div>
   </div>
</div>
{% endfor %}
